@CHARSET "ISO-8859-1";

/**
BOOTSTRAP OVERRIDE
**/

.container{
	margin: 0 auto;
	width: 97%;
}

/**
STANDARD ELEMENTS
**/

body {
	color: #111;
	background-color: #eee;
}

ul{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/**
CLASSES
**/

.loaderHeader{
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #777;
	box-shadow: 0px 2px 0px #ccc;
}

.loaderTitle{
	margin-right: 1em;
}

.loaderName{
	margin-right: 1em;
}

.loaderAuthor{
	margin-right: 1em;
}

.textlink{
	background-color: rgba(0, 0, 0, 0);
}

.textlink:hover{
	background-color: rgba(102, 177, 255, 0.3);
}

.textItem {
	font-size: 1em;
	margin-bottom: 0.1em;
	margin-top: 0.1em;
}

.group-list {
	list-style-type: none;
    -moz-column-gap: 10;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -webkit-column-gap: 10;
    column-count: 2;
    column-gap: 10;
}

/**
ID's
**/