@CHARSET "ISO-8859-1";

/**
HTML OVERRIDES
**/
body{
	overflow-y: hidden;
}

/**
CLASSES
**/
.handle{
	border: 2px solid #666;
	padding-left: 0.3em;
	padding-right: 0.3em;

	border-radius: 1em;
	cursor: pointer;
	
	opacity: 0.2;
    -webkit-opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
   	-webkit-transition: opacity 0.5s ease-in-out;
   	
  	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;           /* Non-prefixed version, currently
	                                  not supported by any browser */
}
.handle.left{
	border-right: none;
}
.handle.right{
	border-left: none;
}
.handle.selected{
	opacity : 1.0;
	-webkit-opacity: 1.0;
}
.handle.red{
	border-color: #CC0000;
}
.handle.blue{
	border-color: #0000CC;
}
.handle.green{
	border-color: #00CC00;
}
.handle.yellow{
	border-color: #FFD900;
}

.markupItem{
	border: 1px solid #ccc;
	cursor: pointer;
	font-weight: bold;

    transition: background-color 0.5s ease-in-out;
   	-webkit-transition: background-color 0.5s ease-in-out;
}
.markupItem.red{
	border-color: #CC0000;
	background-color: rgba(204, 0, 0, 0.1);
}
.markupItem.red.selected{
	background-color: rgba(204, 0, 0, 0.4);
}
.markupItem.blue{
	border-color: #0000CC;
	background-color: rgba(0, 0, 204, 0.1);
}
.markupItem.blue.selected{
	background-color: rgba(0, 0, 204, 0.4);
}
.markupItem.green{
	border-color: #00CC00;
	background-color: rgba(0, 204, 0, 0.1);
}
.markupItem.green.selected{
	background-color: rgba(0, 204, 0, 0.4);
}
.markupItem.yellow{
	border-color: #DBBA00;
	background-color: rgba(255, 217, 0, 0.1);
}
.markupItem.yellow.selected{
	background-color: rgba(255, 217, 0, 0.4);
}


.markupField{
	width: 100%;
	margin-top: 4px;
}

.editor{
	height: 39vh;
	font-size: 1.1em;
	border: 1px solid #ccc;
	overflow: auto;
}

.editorialPanel{
	height: 40vh;
	overflow-y: auto;
}

/**
ID's
*/
#editorRowPanel{
	height: 50vh;
}

#markupRow{
	border: 1px solid #ccc;
	height: 40vh;
	overflow-y: scroll;
	overflow-x: hidden;
}