@CHARSET "ISO-8859-1";

body{
	font-size: 18px;
}

ul{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	font-size: 14px;
}
/**
* CLASSES
**/

.note{
	vertical-align: super;
	font-size: 10px;
	padding: 1px;
}