@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

:root{
    --fg: #333;
    --fg-dark: #111;
    --bg: #fff;
    --bg-dark: #ccc;
    --accent: rgb(36, 111, 121);
    --accent-light: rgb(83, 151, 160);
}

/**
HTML OVERRIDES
**/
body{
    background-color: var(--fg);
    background: linear-gradient(var(--fg), var(--fg-dark));
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--fg);
    font-size: 120%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--fg);
    transition: all 0.5s ease;
    cursor: pointer;
}

a:hover, a.current{
    padding-left: 0.2em;
    color: var(--accent);
}

a.current{
    border-bottom: 5px solid var(--accent);
}

button{
    background-color: var(--accent);
    padding: 1em;
    color: var(--bg);
    font-weight: bold;
    border: 0px;
    transition: background-color 0.5s ease;
    font-size: 90%;
}

button:hover{
    background-color: var(--accent-light);
}
/**
CLASSES
**/
.accent{
    color: var(--accent);
}

.accent-bg{
    background-color: var(--accent);
}

.inputfield{
    display: block;
    width: 100%;
    padding: 0.2em;
    font-size: 100%;
    margin-top: 0.2em;
    margin-bottom: 1em;
    border: 1px solid var(--bg-dark);
}

label{
    font-weight: bold;
}

/**
IDs
**/
#content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#side{
    padding: 0em 1em 0em 0em;
    flex-basis: 25%;
    flex-direction: column;
}

#main{
    padding: 1em;
    flex-basis: 75%;
    flex-grow: 1;
}

#sidepanel{
    background-color: var(--bg);
    border-right: 5px solid var(--accent);
    height: 100%;
    padding: 1em;
    font-size: 130%;
}

#mainpanel{
    background-color: var(--bg);
    padding: 1em 1em 4em 1em;
    margin-top: 2em;
}

#nav li{
    padding-top: 1em;
    width: 100%;
}

#nav a{
    display:block;
    width: 100%;
}

#loginpanel{
    background-color: var(--bg);
    border-left: 10px solid var(--accent);
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    padding: 0;
    margin: 0;
}

#logincontents{
    font-size: 100%;
    display: flex;
    padding: 2em;
    flex-direction: column;
}