<h1>About</h1>
<p>
    Welcome to Alexander, an online fragment editor for the <em>Sources, Echoes and Interactions of Protagoras</em> project.
    Using this editor a wide range of scholars, both students and professors, can lend their expertise to create the data for a one of a kind
    digital edition. 
</p>
<h4>Our Mission</h4>
<p>
    We believe that digital editions are the future of scholarly publishing. Unfortunately the current infrastructure is sorely lacking.
    From a technical standpoint most, if not all, of the available tools to create these editions are far too technical for the average
    scientist, who does not have the time to learn these technologies. It is the equivalent of a scientist knowing how to print their own book.
    Knowledge of print is useful, but not a necessary part of science. It is the same for digital publishing. From a publishing standpoint
    we are clearly in the early days of digital editions. There are many unanswered questions about the best practices for a digital edition.
</p>
<p>
    Therefore, we wanted to create an editor that would allow a diverse team of scientists and students worldwide to collaborate on this project.
    Additionally, our users should not need much digital expertise to work on our edition. Due to the nature of the project we need many small contributions,
    which do not warrant learning new technologies. By creating and using Alexander we hope to bring the power of the digital edition to more people.
</p>
<h4>Credits</h4>
<ul>
    <li><b>Conceptual Design: </b>Dr. T.A. van Berkel & Mees Gelein</li>
    <li><b>Technical & Graphical Design: </b>Mees Gelein</li>
    <li><b>Editorial Guidelines: </b>Dr. T.A. van Berkel</li>
    <li><b>Funding: </b>Digital Humanities Small Grant from LUCDH, Leiden Unversity</li>
</ul>