<h1>Account</h1>
<table>
    <tr>
        <td>Username:</td>
        <td>{{username}}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>Level:</td>
        <td>{{level}}</td>
    </tr>
</table>
<h2>Change Password</h2>
<div class='formfield'>
    <label for='pass1field'>Password: </label>
    <input name='pass1field' type='password' id='newPassword1'>
</div>
<div class='formfield'>
    <label for='pass2field'>Password (repeat):</label>
    <input name='pass2field' type='password' id='newPassword2'>
</div>
<button style='display:block; width: 100%' onclick='ui.changePassword(this)'>Change Password</button>