<div class="container">
	
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-primary accountPanel animated slideInLeft">
				<div class="panel-heading"><span class="glyphicon glyphicon-user"></span>&nbsp;Account Data</div>
				<div id="accountCollapse" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="content">
					{accountInfo}
					<table class="table">
					<tr><td>Name: </td><td>{name}</td></tr>
					<tr><td>Email: </td><td>{user}</td></tr>
					<tr><td>Password: </td><td id="pass"><input class="btn btn-xs btn-default" type="button" value="Change password" onclick="alexander.account.changePass()"></td></tr>
					<tr><td>Access Level: </td><td>{userLevel}</td></tr>
					</table>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class='col-xs-6'>
		<div class="panel panel-warning accountPanel animated slideInRight">
				<div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Messages&nbsp;<span class="badge">1</span></div>
				<div id="messageCollapse" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="content">
						<b>Welcome</b>
						<p>This is a simple test message to show everybody how the message system would work. 
						These messages can be used for systemwide messages about updates or best practices</p>
						Author: Gelein, M.
					</div>
				</div>
				</div>
			</div>
		</div class='col-xs-6'>
	</div>
	{adminUtil}
</div>