<div id='side'>
    <div id='sidepanel'>
        <div style='display: flex; flex-direction: column;'>
            <h1 id='title'>Ale<span class='accent'>x</span>ander</h1>
            <ul id='nav'>
                <li><a id='accountLink' onclick='page.showAccount()'>Account</a></li>
                <li><a id='textsLink' onclick='page.showTexts()'>Texts</a></li>
                {{usersLink}}
                <li><a id='aboutLink' onclick='page.showAbout()'>About</a></li>
            </ul>
            <button onclick='ui.submitLogout();' style='margin-top: 2em;'>Log out</button>
        </div>
    </div>
</div>

<div id='main'>
    <div id='mainpanel'>
        
    </div>
</div>