<div id='side'>
    <div id='sidepanel'>
        <div style='display: flex; flex-direction: column;'>
            <h1 id='title'>Ale<span class='accent'>x</span>ander</h1>
            <ul id='nav'>
                <li><a href='#' onclick=''>Account</a></li>
                <li><a href='#' onclick=''>Dashboard</a></li>
                <li><a href='#' onclick=''>Texts</a></li>
            </ul>
            <button onclick='ui.submitLogout();' style='margin-top: 2em;'>Log out</button>
        </div>
    </div>
</div>

<div id='main'>
    <div id='mainpanel'>
        
    </div>
</div>