<nav class="navbar navbar-default">
	<form id="logForm" action="index.php" method="post">
	<input type="hidden" value="true" name="logout">
	</form>
  	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.php">Alexander</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="account"><a href="index.php">Account</a></li>
      <li id="editor"><a href="editor.php">Editor</a></li>
      <li id="documents"><a href="documents.php">Documents</a></li>
      <li id="viewer" class="disabled"><a href="#">Viewer</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" onclick="$('#logForm').get(0).submit();"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</a></li>
    </ul>
  </div>
</nav>
<script>$('{active}').className = "active";</script>