<div id='noteEditor'>
    <h1>Note Editor</h1>
    <div style='display: flex; flex-direction: row;'>
        <div class='formfield inline'>
            <label for='noteURN'>URN:&nbsp;</label>
            <span name='noteURN' id='editorURN'>{{urn}}</span>
        </div>
        <div class='formfield inline'>
            <label for='noteParent'>Parent:&nbsp;</label>
            <span name='noteParent' id='editorParent'>{{parent}}</span>
        </div>
        <div class='formfield inline'>
            <label for='noteScope'>Scope:&nbsp;</label>
            <span name='noteScope' id='editorScope'>{{scope}}</span>
        </div>
        <div class='formfield inline'>
            <label for='noteType'>Type:&nbsp;</label>
            <input type='text' name='noteType' id='editorType' placeHolder='urn:seip:notetype:xx' value='{{type}}'>
        </div>
    </div>
    <div class='editor' contenteditable="">{{content}}</div>
    <div style='display:flex; flex-direction: row'>
        <div style='flex-grow: 1; padding-right: 0.5em;'>
            <button style='display:block; width: 100%' onclick='ui.saveAndExitNote()'>Save &amp; Exit</button>
        </div>
        <div style='flex-grow: 1; padding-left: 0.5em;'>
            <button class='alt' style='display:block; width: 100%' onclick='page.hideOverlay()'>Cancel</button>
        </div>
        <div style='flex-grow: 1; padding-left: 0.5em;'>
            <button style='display:block; width: 100%' onclick='ui.removeNote("{{urn}}")'>Delete</button>
        </div>
    </div>
</div>