<h1>Texts</h1>
<table>
    <colgroup>
        <col span="1" style='width: 10%'>
        <col span="1" style='width: 10%'>
        <col span="1" style='width: 20%'>
        <col span="1" style='width: 15%'>
        <col span="1" style='width: 35%'>
    </colgroup>
    <thead>
        <tr>
            <td>urn</td>
            <td>level</td>
            <td>title</td>
            <td>author</td>
            <td>actions</td>
        </tr>
    </thead>
    <tbody id='textsTable'>

    </tbody>
</table>
<h2>Add Text</h2>
<div class='formfield'>
    <label for='newTextURN'>URN: </label><br>
    <div style='display: flex; flex-direction: row'>
        <span style='display: flex; margin-top: 0.2em'>urn:seip:texts:</span>
        <input style='display: flex; width:50%' class='inlineInput' type='text' name='newTextURN' id='newTextURN' placeHolder='a1'>
    </div>
</div>
<button style='display:block;width: 100%' onclick='ui.openInTextEditor()'>Create New Text</button>